* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(169, 235, 220);
}

#main_div {
    width: 500px;
    height: 350px;
    justify-content: center;
    /* border: 1px solid black; */
    border-radius: 15px;
    flex-direction: column;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

    h1 {
        text-align: center;
        padding: 2px;
        margin: 10px 10px 10px 10px;
        font-size: 2.5rem;
        font-family: "Playwrite GB S", serif;
    }

    

    #emoji_div {
        display: flex;
        /* border: 1px solid black; */
        justify-content: center;
        flex-direction: row;

        @media screen and (max-width: 420px){
            flex-direction: column;
            align-items: center;
        }

        .emoji {
            width: 160px;
            height: 150px;
            /* border: 1px solid black; */
            padding: 5px;
            margin: 15px 7px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            cursor: pointer;


            img {
                width: 5rem;
                height: 5rem;
                padding: 5px;

                @media screen and (max-width: 420px){
                    width: 50px;
                    height: 50px;
                }
            }
            
        }

        .emoji:hover, .emoji.active {
            background-color: rgb(159, 253, 222) ;
        }


        p {
            text-align: center;
            margin: 5px;
            padding: 5px;
            font-size: larger;
            font-family: "Fuzzy Bubbles", serif;

            @media screen and (max-width: 420px){
                font-size: 1rem;
            }

        }
        
    }

    #submit_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* padding: 8px; */
        

        button{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 7px 15px;
            font-size: 1.2rem;
            border-radius: 20px;
            background-color: rgb(2, 149, 100);
            border: none;
            color: white;
        }

        button:active {
            transform: scale(0.9);
        }
    }
}

#feedback_div {
    width: 480px;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 20px #00000044;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #E9FFFF;

    h1 {
        font-size: 2.3rem;
        color: rgb(9, 110, 210);
        margin: 5px;
        padding: 3px;
    }

    h2 {
        font-size: 1.8rem;
        color: rgb(255, 106, 0);

        #feedback {
            font-size: 2rem;
            font-weight: bold;
            margin: 22px;
            padding: 10px;
            color: red;
        }
    }

    p {
        font-size: 1.6rem;
        color: rgb(4, 11, 110);
        font-weight: bold;
        margin: 15px;
        padding: 10px;
        text-align: center;
        font-family: "Dancing Script", serif;
    }
}



@media screen and (max-width: 550px) {
    #main_div {
        width: 400px;

        h1 {
            font-size: 2rem;
        }
    }

    #feedback_div {
        width: 350px;
    }
}

@media screen and (max-width: 420px) {
    #main_div {
        width: 250px;
        height: auto;
        padding: 10px;
    }

    #main_div h1 {
        font-size: 1.7rem;
    }


    #feedback_div {
        width: 320px;
    }
}
